<div class="container">
  <div class="row">
      <div class="col-md-12">

          <table *ngIf="shows" class="table">
              <thead>
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Cédula</th>
                      <th scope="col">Usuario</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let administrador of administradors">
                      <td>{{administrador.id}} </td>
                      <td>{{administrador.name}}</td>
                      <td> {{administrador.cedula}} </td>
                      <td>{{administrador.usuario}}</td>
                      <td>
                          <button class="btn btn-primary" (click)="showHideEdit(administrador.id)"><span class="fa fa-pencil"></span></button>
                      </td>
                  </tr>
              </tbody>
          </table>
          <button (click)=" shows = !shows  " class="btn btn-outline-primary btn-block">
      Mostrar/Ocultar
      </button>
      </div>
  </div>
</div>
<br>
<br>
<div *ngIf="showEdit">
  <app-administrador-edit [administrador_edit_id]="administrador_edit_id" (cancel)="showEdit=!showEdit" (update)="updateEmpleado()"></app-administrador-edit>
</div>



<div class="container">
  <app-administrador-create></app-administrador-create>
</div>