<div class="container">
        <div class="row">
            <div class="col-md-12">
    
                <table *ngIf="shows" class="table">
                    <thead class = "thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">tipo</th>
                            <th scope="col">Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of prioridades">
                            <td>{{c.id}} </td>
                            <td>{{c.descripcion}}</td>
                            <td> {{c.tipoPrioridad}} </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)=" shows = !shows  " class="btn btn-outline-primary btn-block">
            Mostrar/Ocultar
            </button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <app-prioridad-create></app-prioridad-create>        
        
    </div>