<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Listar tecnicos
      </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
        Crear un tecnico
      </button>
</p>


<div class="collapse" id="collapseExample">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <table *ngIf="shows" class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">usuario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tecnico of tecnicos">
                            <td>{{tecnico.id}} </td>
                            <td>{{tecnico.name}}</td>
                            <td> {{tecnico.cedula}} </td>
                            <td>{{tecnico.usuario}}</td>
                            <td *ngxPermissionsOnly="['ADMIN']">
                                <button class="btn btn-primary" (click)="showHideEdit(tecnico.id) && ngOnChanges()"><span class="fa fa-pencil"></span></button>
                            </td>
                        </tr>



                    </tbody>
                </table>

            </div>
            <div class="col-6">
                <div class="card-header" style="align-content: center">
                    <div *ngIf="showEdit">
                        <app-tecnico-edit [tecnico_edit_id]="tecnico_edit_id" (cancel)="showEdit=!showEdit && ngOnChanges()" (update)="updateTecnico() && ngOnChanges()"></app-tecnico-edit>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="collapse" id="collapseExample2">
    <app-tecnico-create></app-tecnico-create>
</div>