<div class="container-fluid" style="margin-left: 130px">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Editar un empleado</h2>
        <br>
        <form name="editorial" (ngSubmit)="f.form.valid && editEmpleado()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="empleadoName"><b>Nombre</b></label>
                <input type="text" name="empleadoName" class="form-control" id="empleadoName" [(ngModel)]="empleado.name" #empledoName="ngModel" required>
            </div>
            <div class="form-group">
                <label for="empleadoCedula"><b>Cedula</b></label>
                <input type="text" name="empleadoCedula" class="form-control" id="empleadoCedula" [(ngModel)]="empleado.cedula" #empledoName="ngModel" required>
            </div>
            <div class="form-group">
                <label for="empleadoUsuario"><b>Usuario</b></label>
                <input type="text" name="empleadoUsuario" class="form-control" id="empleadoUsuario" [(ngModel)]="empleado.usuario" #empledoName="ngModel" required>
            </div>
        </form>

        <div class="row form-inline justify-content-center align-self-center">
            <button type="submit" class="btn btn-primary" (click)="editEmpleado()">Edit</button>
            <div class="divider"></div>
            <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancel</button>
        </div>
    </div>
</div>