body {
    background-color: aquamarine;
}

#kunzel{
    height: 200px;
    vertical-align: middle;
    align-content: center;
    display:flex;
    justify-content: center;
}

#interno{
    width:300px;
    height: 200px;
    margin-left: 15px;
    box-shadow: none;
    transition: box-shadow 0.1s;
    border: 1px solid #eee;
    cursor: pointer;
}

#interno:hover {
    box-shadow: 0 0 3px #515151;
}