<div class="container-fluid" style="max-height: 100%">
    <h5>Por favor ingrese su rol:</h5>
    <div class="row" id="kunzel">
        <img src="https://dl.dropboxusercontent.com/s/54z1weg2llct4ym/Administrador.png?dl=0" id="interno" class="img-fuid img-thumbnail hoverable" (click)="login()">
        <img src="https://dl.dropboxusercontent.com/s/zgff4han7iykvnd/T%C3%A9cnico.png?dl=0" id="interno" class="img-fluid img-thumbnail hoverable" (click)="login()">
        <img src="https://dl.dropboxusercontent.com/s/o0xe8xkfl7qflbj/Empleado.png?dl=0" id="interno" class="img-fluid img-thumbnail hoverable" (click)="login()">
    </div>
</div>